@import "../../../styles/settings.scss";

.root {
  box-shadow: 2px 3.464px 6px $menuBar-box-shadow;
  background-color: $menuBar-bg;

  :global(.container)> :global(.row) {
    height: 84px;

    .menu {
      display: flex;
      align-self: stretch;

      ul {
        margin: 0;
        padding: 0;
        display: flex;

        li {
          list-style: none;
          display: flex;
          align-items: stretch;
        }
      }

      a {
        color: $text-color;
        text-transform: uppercase;
        font-size: 12px;
        padding: 1rem;
        text-decoration: none;
        display: flex;
        align-items: center;
        border-top: 4px solid $menuBar-bg;
        font-weight: 500;
        letter-spacing: 1px;

        &:hover,
        &.active {
          background-color: $primary;
          color: $menuBar-bg;
          border-color: $primary;
        }

        &.active {
          border-color: $text-color;
        }
      }
    }
  }

  .hamburger {
    display: none;
  }
}


@media (min-width: 578px) and (max-width: 1024px) {
  .root {
    :global(.container)> :global(.row) {
      height: 120px;
      flex-direction: column-reverse;
    }

    .menu {
      display: flex;
      align-self: stretch;
      max-width: 100%;
      margin-bottom: 5px;
    }
  }

}

@media (max-width: 578px) {
  .root {
    box-shadow: none;
    height: 10px;
    
    ul {
      display: none !important;
    }

    .menu {
      justify-self: flex-end;
    }

    .hamburger {
      width: 52px;
      height: 52px;
      display: block;
      margin-top: 12px;
      margin-right: 2vw;
      color: $primary;
      background: none;
      
    }

    .menu:hover {
      display: block;
      margin-right: 2vw;
      margin-left: 69vw;
      ul {
        position: relative;
        align-items: flex-end;
        display: flex !important;
        flex-direction: column;
        flex-wrap: wrap;
        z-index: 1;
        background-color: $menuBar-bg;
        border: 2px solid $menuBar-box-shadow;
        li{
          border-top: 4px solid $menuBar-bg;
        }
      }

      .hamburger {
        display: none;
      }

    }

  }
}
