@import "../../../styles/settings.scss";

// .root {
// }

.main {
  background-color: $button-bg;
  color: $button-text;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;
  transition: background-color $global-transition-time;

  &:not(.noHover):hover {
    color: $button-text !important;
    background-color: $primary;
    text-decoration: none;
  }
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.outline {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $button-border-color;
  color: $button-border-text;
  font-size: 13px;
  line-height: 22px;
  transition: all $global-transition-time;

  &:not(.noHover):hover {
    background-color: $button-hover-border;
    color: $button-hover-text;
  }
}
