@import "../../../styles/settings.scss";
.promoContainer {
  position: relative;
  height: 488px;

  @media (max-width: 1200px) {
    height: 450px;
  }
  @media (max-width: 1000px) {
    height: 400px;
  }
  @media (max-width: 550px) {
    height: 300px;
  }
  @media (max-width: 350px) {
    height: 200px;
  }

  &:hover .button {
    opacity: 1;
  }

  .imageContainer {
    max-height: 100%;
    width: 100%;
    position: relative;
  }

  .image {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  .promoContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    color: $white;
    h1 {
      font-size: 50px;
      font-weight: 300;
      text-transform: uppercase;
      @media (max-width: 600px) {
        font-size: 35px;
      }
      span {
        font-weight: 600;
      }
    }
    h2 {
      font-size: 25px;
      font-weight: 300;
    }

    &::before {
      content: "";
      position: absolute;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 200%;
      top: -50%;
      z-index: -1;
      background: rgba(0, 0, 0, 0.6);
    }
    .button {
      position: absolute;
      transform: translateX(-50%);
      line-height: 60px;
      bottom: -80px;
      width: 150px;
      height: 60px;
      background-color: #fff;
      border-radius: 5px;
      text-transform: uppercase;
      color: $darkGray;
      font-weight: bold;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .sliderButtons {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    bottom: 0;

    div {
      width: 50%;
      height: 40px;
      text-align: center;
      background-color: $darkGray;
      transition: all $global-transition-time;

      a {
        height: 100%;
        width: 100%;
        line-height: 40px;
        color: white;
      }

      &:hover {
        background-color: $primary;
      }
    }
  }
}
