@import "../../../styles/settings.scss";

.root {
  .panelBar {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid $newFurniture-panelbar-border;

    .heading {
      flex: 1;
      position: relative;

      h3 {
        color: $primary;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 38px;
        margin: 0;
        letter-spacing: 1px;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 45px;
        border-bottom: 4px solid $primary;
      }
    }

    .menu {
      flex: 3;
      text-align: center;

      ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
          display: inline-block;
          margin: 0 0.5rem;
          font-weight: 600;

          a {
            color: $newFurniture-bg-dots-link;
            position: relative;
            text-decoration: none;
            font-size: 18px;
            display: block;

            &.active,
            &:hover {
              &::before {
                content: "";
                position: absolute;
                bottom: -10px;
                left: 0;
                width: 100%;
                border-bottom: 4px solid $primary;
              }
            }
          }
        }
      }
    }

    .dots {
      flex: 1;
      position: relative;

      ul {
        position: absolute;
        padding-left: 15px;
        right: 0;
        top: -3px;
        list-style: none;
        background-color: $newFurniture-bg-dots-ul;

        li {
          display: inline-block;
          margin-left: 0.5rem;

          a {
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 6px;
            background-color: $newFurniture-bg-dots-link;
            font-size: 0;

            &.active {
              background-color: $primary;
            }
            @include element-hover-animation($primary);
          }
        }
      }
    }
  }

  //TRANSITION

  .fadeIn {
    opacity: 0;
    transition: opacity 100ms ease-in-out;
  }

  .fadeOut {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
  }
}

@media (max-width: 991px) {
  .root {
    .panelBar {
      .heading {
        flex: 2;
      }
      .menu {
        flex: 4;
      }
      .dots {
        flex: 2;
      }
    }
  }
}

@media (max-width: 767px) {
  .root {
    .panelBar {
      position: relative;
      .heading {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -100%);
        &::before {
         display: none;
        }
      }
      .menu {
        ul {
          top: -20px;
          li {
            a {
              &.active,
              &:hover {
                &::before {
                  bottom: -5px;
                }
              }
            }
          }
        }
      }
      .dots {
        top: -6px;
      }
    }
  }
}

@media (max-width: 576px) {
  .root {
    .panelBar {
      border: none;
      .heading {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -170%);
        h3 {
          white-space: nowrap;
        }
        &::before {
         display: none;
        }
      }
      .menu {
        ul {
          flex: 3;
          li {
            margin-bottom: 5px;
            a {
              &.active,
              &:hover {
                &::before {
                  bottom: -5px;
                }
              }
            }
          }
        }
      }
      .dots {
        flex: 3;
        ul {
          right: 5px;
          transform: translateY(-50%);
        }
      }
    }
  }
}
