@import "../../../styles/settings.scss";

.root {
  .hotDealPanel {
    border: 1px solid $gray-200;
    &:hover .priceButton {
      background-color: $primary;
    }
  }
  .dealsBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $darkGray;
    color: $white;

    h3 {
      padding: 5px 20px 5px;
      margin: 0;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 40px;
    }

    ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      margin: 10px;
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 10px;
        a {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 12px;
          height: 12px;
          background-color: $white;
          border-radius: 50%;
          &.active {
            background-color: $primary;
          }
          @include element-hover-animation($primary);
        }
      }
    }
  }
  .imageContainer {
    position: relative;
    height: 250px;

    &:hover .button {
      opacity: 1;
    }

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .button {
      opacity: 0;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: uppercase;
      transition: all $global-transition-time;
      .icon {
        margin-right: 5px;
      }
    }
    .discountTime {
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translate(-50%);
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: $white;
      text-transform: uppercase;

      .circle {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 3px;
        width: 72px;
        height: 72px;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 50%;
        line-height: 25px;
        span {
          font-size: 25px;
          margin-top: 12px;
        }
      }
    }
  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $darkGray;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .stars {
      a {
        text-decoration: none;
        color: $darkGray;
      }
    }
  }

  .line {
    margin: 15px;
    border-bottom: 1px solid $productBox-line-border;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $primary;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .priceButton {
      transition: all $global-transition-time;
    }

    .btnActive {
      background-color: $primary;
    }

    .iconActive {
      color: white;
    }
  }

  .promoContainer {
    position: relative;
    height: 488px;

    &:hover .button {
      opacity: 1;
    }

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .promoContent {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;
      color: $white;
      h1 {
        font-size: 50px;
        font-weight: 300;
        text-transform: uppercase;
        span {
          font-weight: 600;
        }
      }
      h2 {
        font-size: 25px;
        font-weight: 300;
      }

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 200%;
        left: 0;
        top: -50%;
        z-index: -1;
        background: rgba(0, 0, 0, 0.6);
      }
      .button {
        position: absolute;
        transform: translateX(-50%);
        line-height: 60px;
        bottom: -80px;
        width: 150px;
        height: 60px;
        background-color: #fff;
        border-radius: 5px;
        text-transform: uppercase;
        color: $darkGray;
        font-weight: bold;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .sliderButtons {
      position: absolute;
      display: flex;
      flex-direction: row;
      width: 100%;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);

      div {
        width: 50%;
        height: 40px;
        text-align: center;
        background-color: $darkGray;
        transition: all $global-transition-time;

        a {
          height: 100%;
          width: 100%;
          line-height: 40px;
          color: white;
        }

        &:hover {
          background-color: $primary;
        }
      }
    }
  }
}
