// THIS IS A LIST OF COLORS - DONT USE THEM IN PROJECT! JUST USE ASSIGNED COLORS!

$darkGray: #2a2a2a; //rgb(42, 42, 42)//#292929
$white: #ffffff;
$dirtyOrange: #d58e32;
$lightGray: #b6b6b6;
$gray-200: #e1e1e1; //e2e2e2
$lightBlack: #363636;
$justGray: rgb(216, 216, 216);
$gray-210: rgb(224, 227, 237);
$gray-220: #dee2e6;
$silverGray: rgb(169, 169, 169);
$obsidianBlack: rgba(1, 2, 2, 0.2);
$coolGray: #434343;
$greenColor: #79ae30;
$grayImage: #f8f8f8;
$gray-220: #e0e3ed;
$mediumBlue: #57a8ff;
$red: red;
// ASSIGNED COLORS

$button-bg: $darkGray;
$button-text: $white;
$primary: $dirtyOrange;

$button-border-color: $darkGray;
$button-border-text: $darkGray;
$button-hover-border: $darkGray;
$button-hover-text: $white;
$button-backgound-blog: $darkGray;
$button-backgound-blog: $white;

$promoted-line-border-color: $darkGray;
$promoted-border-color: $gray-200;

$featureBox-border-color: $lightGray;
$featureBox-icon-active: $white;
$featureBox-text-color: $darkGray;
$featureBox-bg-color: $white;

$productBox-root-bg: $white;
$productBox-root-border: $gray-200;
$productBox-root-sale-bg: $darkGray;
$productBox-sale-text: $white;
$productBox-sale-button-content-stars: $darkGray;
$productBox-line-border: $darkGray;

$productListItem-description: $silverGray;

$newFurniture-panelbar-border: $gray-200;
$newFurniture-menu-link-text: $darkGray;
$newFurniture-bg-dots-ul: $white;
$newFurniture-bg-dots-link: $gray-200;

$form-border-color: $darkGray;
$text-color: $darkGray;

$form-border-color: #292929;

$header-bg: $lightBlack;
$companyClaim-phoneNumber-text: $justGray;
$companyClaim-cartBox-text: $white;
$companyClaim-cartCounter-text: $gray-210;

$cart-box-top: $silverGray;
$cart-box-h3: $white;
$cart-box-sign: $darkGray;
$cart-table-color: $lightGray;
$cart-table-top: $white;
$cart-table-th: $darkGray;
$cart-product-color: $darkGray;
$cart-product-border: $darkGray;
$cart-product-delete: $darkGray;
$cart-product-image: $justGray;
$cart-product-td: $primary;
$cart-product-button: $darkGray;
$cart-product-button-hover: $primary;
$cart-product-button-number-top: $darkGray;
$cart-product-button-number-bottom: $darkGray;
$cart-coupon-border-right: $gray-220;
$cart-coupon-border-bottom: $gray-220;
$cart-coupon-input: $darkGray;
$cart-coupon-input-border: $gray-220;
$cart-coupon-code-update: $primary;
$cart-coupon-code-update-hover: $darkGray;
$cart-summary-border: $gray-220;
$cart-total: $gray-220;
$cart-total-head: $darkGray;
$cart-total-p-border: $gray-220;
$cart-total-p-color: $primary;
$checkout-bg: $primary;
$checkout-color: $white;
$checkout-hover: $darkGray;

$footer-bg: $lightBlack;
$footer-text: $white;
$footer-rights-text: $silverGray;
$footer-hover-text: $white;
$footer-claim-bg: $darkGray;

$menuBar-box-shadow: $obsidianBlack;
$menuBar-bg: $white;
$menuBar-menu-border: $white;
$menuBar-menu-text-active: $white;

$header-topbar-bg: $coolGray;
$topBar-root-link-text: $white;

$GalleryMainBar: $gray-200;
$gallery-boxshadow: $justGray;
$gallery-border-color: $gray-200;
$gallery-bg-image: $grayImage;
$gallery-green-color: $greenColor;

$feedbackMainBar: $gray-200;
$feedback-bg: $lightBlack;
$points-color-bg: $white;
$points-color: $gray-200;

$brand-logo-border-color: $gray-200;
$brand-border-color: $gray-200;
$brand-button-bg: $darkGray;
$brands-logoBox-color: $white;

$login-button-bg: $justGray;
$button: $darkGray;
$window: $gray-210;
$message: $white;
$message-hover: $silverGray;

$login-button-bg: $justGray;
$login-button-color: $darkGray;
$login-button-text: $primary;

$lastest-blog-border-bottom: $darkGray;
$lastest-blog-header: $primary;
$lastest-blog-underscore: $primary;
$lastest-blog-inactive-dot: $darkGray;
$lastest-blog-active-dot: $primary;
$lastest-blog-background: $white;
$lastest-blog-title: $primary;

$formErrorMessage: $red;

// FORMAT
$base-padding: 24px;

//transition time
$global-transition-time: 0.25s;

//mixins for hover animation
//1. hover mixin components, icons and images
@mixin element-hover-animation(
  $bg-color: initial,
  $transition-time: $global-transition-time,
  $translate-by: 0
) {
  transition: all $transition-time;
  &:hover {
    background-color: $bg-color;
    transform: translateY($translate-by);
  }
}

//2. Placeholder for text
@mixin text-hover-animation(
  $text-color,
  $text-decor: none,
  $transition-time: $global-transition-time
) {
  transition: all $transition-time;
  &:hover {
    color: $text-color;
    text-decoration: $text-decor;
  }
}
