@import "../../../styles/settings.scss";

.root {
  background-color: $productBox-root-bg;
  border: 1px solid $productBox-root-border;
  margin-bottom: 2rem;

  &:hover .photo .buttons {
    opacity: 1;
  }
  .priceButton {
    transition: all $global-transition-time;
  }
  &:hover .priceButton {
    background-color: $primary;
  }

  .photo {
    position: relative;
    padding: 80% 10px 0 10px;
    background: {
      color: $productBox-root-bg;
      size: contain;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;
    align-items: flex-end;

    .image {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      z-index: 1;
      transform: translateX(-50%);
      background-color: $productBox-root-sale-bg;
      border-radius: 50%;
      color: $productBox-sale-text;
      padding: 30px 15px 5px 15px;
    }

    .buttons {
      position: relative;
      z-index: 3;
      display: flex;
      justify-content: space-between;
      opacity: 0;
      transition: opacity $global-transition-time;
    }
  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $primary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .stars {
      a {
        text-decoration: none;
        color: $productBox-sale-button-content-stars;
      }
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid $productBox-line-border;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $primary;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btnActive {
      background-color: $primary;
    }

    .iconActive {
      color: white;
    }
  }
}
