@import "../../../styles/settings.scss";

.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;

  .category {
    border-right: 1px solid $form-border-color;
    display: flex;
    position: relative;
    align-items: center;
    justify-items: center;

    ul {
      padding: 15px 0 0 0;
      text-align: center;
      list-style-type: none;

      .icon {
        color: $primary;
        margin: 0 5px;
      }

      li {
        display: inline-block;
        position: relative;
      }

      a {
        margin: 0 5px 0 5px;
        color: $text-color;
        text-decoration: none;
      }
    }

    ul ul {
      display: none;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

     li {
        border: 1px solid $form-border-color;
        display: block;
        padding: 0 $base-padding;
        background-color: #ffffff;
      }
    }

    li:hover ul {
      display: block;
    }

    li ul a {
      display: block;
      padding: 10px 25px;
      text-decoration: none;
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}
