@import "../../../styles/settings.scss";

.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;

  .category {
    border-right: 1px solid $form-border-color;
    display: flex;
    position: relative;
    align-items: center;
    justify-items: center;

    ul {
      padding: 15px 0 0 0;
      text-align: center;
      list-style-type: none;
      z-index: 2;
      white-space: nowrap;

      .icon {
        margin: 0 5px;

        &:first-child {
          color: $primary;
          margin: 0 5px;
        }
      }

      li {
        display: inline-block;
        position: relative;
      }

      a {
        margin: 0 5px 0 5px;
        color: $text-color;
        text-decoration: none;
      }
    }

    ul ul {
      display: none;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -8%);
      z-index: 1;

     li {
        border: 1px solid $form-border-color;
        display: block;
        padding: 0 ($base-padding);
        background-color: #ffffff;
      }
    }

    li:hover ul {
      display: block;
    }

    li ul a {
      display: block;
      padding: 10px 25px;
      text-decoration: none;
    }

    select {
      -webkit-appearance: none;
      border: 0;
      background-color: transparent;
      padding: 5px 30px 5px 35px;
      position: relative;
      z-index: 1;
      font-size: 14px;
      outline: none;
    }

    select:focus {
      outline: none;
    }
  }

  .category:hover {
  background: $primary;
  .icon {
    color: #ffffff;
  }
}

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }

    a {
       color: black;
     }
  }
}

@media(min-width: 350px) and (max-width: 578px){
  .root {
    height: 54px;
    .searchField {
      width: 275px;
      padding-right:0px;
      input {
        width: auto;
      }
      button {
        margin-left: 240px;
        position: absolute;
        z-index: 1;
        justify-content: flex-end;
      }
    }
  }
}

@media (max-width: 400px) {
  .root {
    height: 54px;
    .searchField {
      width: 190px;
      padding-right:0px;
      input {
        width: auto;
      }
      button {
        margin-left: 150px;
        position: absolute;
        z-index: 1;
        justify-content: flex-end;
      }
    }
  }
}
