@import "../../../styles/settings.scss";

.root {
  position: fixed;
  bottom: 0%;
  right: 0;
  display: flex;
  flex-direction: column-reverse;

  .actionbtn {
    background-color: $primary;
  }

  .product {
    width: 130px;
    height: 160px;
    position: relative;
    animation: slidein 0.5s cubic-bezier(0.47, 0.41, 0.26, 0.86);
    border: 1px solid $lightGray;
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;

    .header {
      flex: 2;
      width: 85%;
      font-size: 12px;
      color: $dirtyOrange;
      display: flex;
      align-items: center;
      text-align: center;

      p {
        margin: 0;
      }
    }

    .imageContainer {
      flex: 3;
      height: 50%;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .price {
      flex: 1;
      color: $darkGray;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-size: 13px;
        margin: 0;
        padding: 0;
        span {
          text-decoration: line-through;
          font-weight: 200;
        }
      }
    }

    .close {
      opacity: 0;
      position: absolute;
      z-index: 10;
      top: 5%;
      right: 5%;
      color: $text-color;
      transition: all $global-transition-time;
    }

    &:hover .close {
      opacity: 1;
      z-index: 1;
    }
  }
}

.button {
  order: -1;
  text-align: center;
}

@keyframes slidein {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
