@import "../../../styles/settings.scss";

.root {
  margin-bottom: 60px;

  .firstPanel {
    :global(.row) > * {
      border-bottom: 4px solid $GalleryMainBar;
    }
    .heading {
      width: 100%;
      margin-bottom: 30px;

      h3 {
        font-size: 20px;
        color: $primary;
        text-transform: uppercase;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 45px;
        border-bottom: 4px solid $primary;
      }
    }
    .content {
      border: 1px solid $gray-200;
      border-top: none;

      .galleryMenu {
        ul {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            width: 25%;
            text-align: center;
            padding: 8px 0;
            border: solid 1px $gray-200;
            border-right: none;

            &:first-child {
              border-left: none;
            }

            &.active {
              border-top: solid 3px $primary;
              border-bottom: none;
              background-color: $gallery-bg-image;

              a {
                color: $primary;
              }
            }

            &:hover a {
              text-decoration: none;
              color: $primary;
            }

            a {
              color: $darkGray;
              text-transform: uppercase;
              font-weight: bold;
            }
          }
        }
      }
      .imageContainer {
        position: relative;
        width: 100%;
        height: 350px;
        background-color: $gallery-bg-image;

        .outlines {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          height: 100%;

          .icon {
            position: relative;
            margin: 0 0 6px 6px;
            width: 35px;

            .toolTip {
              display: none;
              position: absolute;
              right: -120px;
              top: 50%;
              transform: translateY(-50%);
              width: 110px;
              padding: 0 5px;
              background-color: $darkGray;
              text-align: center;
              font-size: 12px;

              &::after {
                content: "";
                position: absolute;
                left: -5px;
                top: 6px;
                transform: rotate(45deg);
                width: 10px;
                height: 10px;
                background-color: $darkGray;
              }
            }

            &:hover .toolTip {
              display: block;
            }
          }
        }
        .sale {
          position: absolute;
          right: 0;
          bottom: 10%;
          padding: 30px;
          text-align: center;
          background-color: $white;
          box-shadow: -1px 3px 3px $gallery-boxshadow;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            border-top: 40px solid $darkGray;
            border-right: 40px solid transparent;
            width: 0;
          }

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            border-bottom: 40px solid $darkGray;
            border-left: 40px solid transparent;
            width: 0;
          }

          .circle {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            left: 50%;
            top: -80px;
            transform: translateX(-50%);
            width: 100px;
            height: 100px;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 50%;
            color: $white;

            span:first-child {
              font-size: 20px;
              font-weight: 500;
            }
            span:last-child {
              font-size: 15px;
              text-decoration: line-through;
            }
          }

          h3 {
            font-size: 20px;
          }

          a {
            color: $darkGray;
          }
        }
      }

      .carousel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 8px;
        border-top: 1px solid $gallery-border-color;

        .thumbnails {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          width: 100%;
          height: 100%;

          div {
            border: 1px solid $gallery-border-color;
            min-width: 15%;
            background-color: $gallery-border-color;
            opacity: 50%;

            &:after {
              content: "";
              display: block;
              padding-bottom: 100%;
            }

            &.active {
              opacity: 100%;
            }
          }
        }

        .button {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $darkGray;
          width: 30px;

          p {
            margin: 0;
            color: $white;
          }
        }
      }
    }
  }

  .secondPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: left;
    background-color: $gallery-bg-image;

    .content {
      width: 75%;
      margin-bottom: 200px;

      h2 {
        text-transform: uppercase;
        font-size: 20px;

        span {
          font-size: 40px;
          color: $gallery-green-color;
        }
      }

      h3 {
        color: $primary;
        font-size: 40px;
        margin-bottom: 40px;
      }

      .button {
        padding: 15px;
        background-color: $gallery-green-color;
        border-radius: 5px;

        a {
          text-transform: uppercase;
          color: $white;
        }
      }
    }
  }
}
