@import "../../../styles/settings.scss";

.root {
  padding: $base-padding;

  .panelBar {
    margin-bottom: 30px;
    position: relative;

    :global(.row) > * {
      border-bottom: 4px solid $lastest-blog-border-bottom;
    }

    .heading {
      position: relative;
      width: 92%;

      h3 {
        color: $lastest-blog-header;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 38px;
        margin: 0;
        letter-spacing: 1px;
      }
      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 45px;
        border-bottom: 4px solid $lastest-blog-underscore;
      }
    }

    .dots {
      position: absolute;
      right: 0;
      bottom: 0;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: $lastest-blog-background;
        transform: translateY(15px);

        li {
          display: inline-block;
          margin-left: 0.5rem;
          a {
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 6px;
            background-color: $lastest-blog-inactive-dot;
            font-size: 0;

            &.active,
            &:hover {
              background-color: $lastest-blog-active-dot;
            }
          }
        }
      }
    }
  }

  .article {
    .imageContainer {
      position: relative;
      height: 250px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .top {
        width: 90%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background: white;

        p {
          font-size: 13px;
          font-weight: 300;
          margin: 10px;
        }
      }
    }
    .articleBody {
      width: 90%;
      margin: 0 auto;

      h3 {
        margin-top: 10px;
        font-size: 19px;
        font-weight: 500;
        color: $lastest-blog-title;
        padding-top: 20px;
      }

      p {
        font-size: 17px;
        font-weight: 200;
        margin-bottom: 40px;
      }
    }
    .button {
      text-align: center;
    }
  }
}

@media (max-width: 991px) {
  .root {
    padding-bottom: 0;
    margin-bottom: -20px;

    .article {
      margin-bottom: 40px;
      .imageContainer {
        .top {
          width: 75%;
        }
      }
      .articleBody {
        width: 75%;
      }
    }
  }
}
